<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thepan.mappers.EmailCodeMapper">

    <update id="disableCheckCode">
        update email_code
            set status = 1
        where email = #{email}
           and status = 0
    </update>

    <select id="selectByEmailAndCode" resultType="com.thepan.dao.EmailCode">
        select email,
               code,
               create_time as createTime,
               status
        from email_code
        where email=#{email}
          and code=#{code}
          and status='0'
    </select>

    <insert id="insert" parameterType="com.thepan.dao.EmailCode">
        INSERT INTO email_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.email != null">
                email,
            </if>
            <if test="bean.code != null">
                code,
            </if>
            <if test="bean.createTime != null">
                create_time,
            </if>
            <if test="bean.status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.email!=null">
                #{bean.email},
            </if>
            <if test="bean.code!=null">
                #{bean.code},
            </if>
            <if test="bean.createTime!=null">
                #{bean.createTime},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
        </trim>
    </insert>

    <update id="disableEmailCode">
        update user_info
        set status='1' where email=#{email}
    </update>
</mapper>