<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thepan.mappers.FileInfoMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="com.thepan.entity.dao.FileInfo">
        <!--文件ID-->
        <result column="file_id" property="fileId"/>
        <!--用户ID-->
        <result column="user_id" property="userId"/>
        <!--md5值，第一次上传记录-->
        <result column="file_md5" property="fileMd5"/>
        <!--父级ID-->
        <result column="file_pid" property="filePid"/>
        <!--文件大小-->
        <result column="file_size" property="fileSize"/>
        <!--文件名称-->
        <result column="file_name" property="fileName"/>
        <!--封面-->
        <result column="file_cover" property="fileCover"/>
        <!--文件路径-->
        <result column="file_path" property="filePath"/>
        <!--创建时间-->
        <result column="create_time" property="createTime"/>
        <!--最后更新时间-->
        <result column="last_update_time" property="lastUpdateTime"/>
        <!--0:文件 1:目录-->
        <result column="folder_type" property="folderType"/>
        <!--1:视频 2:音频  3:图片 4:文档 5:其他-->
        <result column="file_category" property="fileCategory"/>
        <!-- 1:视频 2:音频  3:图片 4:pdf 5:doc 6:excel 7:txt 8:code 9:zip 10:其他-->
        <result column="file_type" property="fileType"/>
        <!--0:转码中 1转码失败 2:转码成功-->
        <result column="status" property="status"/>
        <!--回收站时间-->
        <result column="recovery_time" property="recoveryTime"/>
        <!--删除标记 0:删除  1:回收站  2:正常-->
        <result column="del_flag" property="delFlag"/>
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        file_id, user_id, file_md5, file_pid, file_size,
        file_name, file_cover, file_path, create_time, last_update_time,
        folder_type, file_category, file_type, status, recovery_time,
        del_flag
    </sql>

    <sql id="base_condition_filed">
        <if test="fileInfoQuery.fileId != null and fileInfoQuery.fileId!=''">
            and file_id = #{fileInfoQuery.fileId}
        </if>
        <if test="fileInfoQuery.userId != null and fileInfoQuery.userId!=''">
            and user_id = #{fileInfoQuery.userId}
        </if>
        <if test="fileInfoQuery.fileMd5 != null and fileInfoQuery.fileMd5!=''">
            and file_md5 = #{fileInfoQuery.fileMd5}
        </if>
        <if test="fileInfoQuery.filePid != null and fileInfoQuery.filePid!=''">
            and file_pid = #{fileInfoQuery.filePid}
        </if>
        <if test="fileInfoQuery.fileSize != null">
            and file_size = #{fileInfoQuery.fileSize}
        </if>
        <if test="fileInfoQuery.fileName != null and fileInfoQuery.fileName!=''">
            and file_name = #{fileInfoQuery.fileName}
        </if>
        <if test="fileInfoQuery.fileCover != null and fileInfoQuery.fileCover!=''">
            and file_cover = #{fileInfoQuery.fileCover}
        </if>
        <if test="fileInfoQuery.filePath != null and fileInfoQuery.filePath!=''">
            and file_path = #{fileInfoQuery.filePath}
        </if>
        <if test="fileInfoQuery.createTime != null and fileInfoQuery.createTime!=''">
            <![CDATA[ and  create_time=str_to_date(#{fileInfoQuery.createTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="fileInfoQuery.lastUpdateTime != null and fileInfoQuery.lastUpdateTime!=''">
            <![CDATA[ and  last_update_time=str_to_date(#{fileInfoQuery.lastUpdateTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="fileInfoQuery.folderType != null">
            and folder_type = #{fileInfoQuery.folderType}
        </if>
        <if test="fileInfoQuery.fileCategory != null">
            and file_category = #{fileInfoQuery.fileCategory}
        </if>
        <if test="fileInfoQuery.fileType != null">
            and file_type = #{fileInfoQuery.fileType}
        </if>
        <if test="fileInfoQuery.status != null">
            and status = #{fileInfoQuery.status}
        </if>
        <if test="fileInfoQuery.recoveryTime != null and fileInfoQuery.recoveryTime!=''">
            <![CDATA[ and  recovery_time=str_to_date(#{fileInfoQuery.recoveryTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="fileInfoQuery.delFlag != null">
            and del_flag = #{fileInfoQuery.delFlag}
        </if>
        <if test="fileInfoQuery.fileIdArray!=null and fileInfoQuery.fileIdArray.length>0">
            and file_id in(<foreach collection="fileInfoQuery.fileIdArray" item="item" separator=",">#{item}</foreach>)
        </if>
        <if test="fileInfoQuery.filePidArray!=null and fileInfoQuery.filePidArray.length>0">
            and file_pid in(<foreach collection="fileInfoQuery.filePidArray" item="item" separator=",">#{item}</foreach>)
        </if>
        <if test="fileInfoQuery.excludeFileIdArray!=null and fileInfoQuery.excludeFileIdArray.length>0">
            and file_id not in(<foreach collection="fileInfoQuery.excludeFileIdArray" separator="," item="item">#{item}</foreach>)
        </if>
    </sql>


    <!-- 通用条件列-->
    <sql id="base_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="fileInfoQuery.fileIdFuzzy!= null  and fileInfoQuery.fileIdFuzzy!=''">
                and file_id like concat('%', #{fileInfoQuery.fileIdFuzzy}, '%')
            </if>
            <if test="fileInfoQuery.userIdFuzzy!= null  and fileInfoQuery.userIdFuzzy!=''">
                and user_id like concat('%', #{fileInfoQuery.userIdFuzzy}, '%')
            </if>
            <if test="fileInfoQuery.fileMd5Fuzzy!= null  and fileInfoQuery.fileMd5Fuzzy!=''">
                and file_md5 like concat('%', #{fileInfoQuery.fileMd5Fuzzy}, '%')
            </if>
            <if test="fileInfoQuery.filePidFuzzy!= null  and fileInfoQuery.filePidFuzzy!=''">
                and file_pid like concat('%', #{fileInfoQuery.filePidFuzzy}, '%')
            </if>
            <if test="fileInfoQuery.fileNameFuzzy!= null  and fileInfoQuery.fileNameFuzzy!=''">
                and file_name like concat('%', #{fileInfoQuery.fileNameFuzzy}, '%')
            </if>
            <if test="fileInfoQuery.fileCoverFuzzy!= null  and fileInfoQuery.fileCoverFuzzy!=''">
                and file_cover like concat('%', #{fileInfoQuery.fileCoverFuzzy}, '%')
            </if>
            <if test="fileInfoQuery.filePathFuzzy!= null  and fileInfoQuery.filePathFuzzy!=''">
                and file_path like concat('%', #{fileInfoQuery.filePathFuzzy}, '%')
            </if>
            <if test="fileInfoQuery.createTimeStart!= null and fileInfoQuery.createTimeStart!=''">
                <![CDATA[ and  create_time>=str_to_date(#{fileInfoQuery.createTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="fileInfoQuery.createTimeEnd!= null and fileInfoQuery.createTimeEnd!=''">
                <![CDATA[ and  create_time< date_sub(str_to_date(#{fileInfoQuery.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="fileInfoQuery.lastUpdateTimeStart!= null and fileInfoQuery.lastUpdateTimeStart!=''">
                <![CDATA[ and  last_update_time>=str_to_date(#{fileInfoQuery.lastUpdateTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="fileInfoQuery.lastUpdateTimeEnd!= null and fileInfoQuery.lastUpdateTimeEnd!=''">
                <![CDATA[ and  last_update_time< date_sub(str_to_date(#{fileInfoQuery.lastUpdateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="fileInfoQuery.recoveryTimeStart!= null and fileInfoQuery.recoveryTimeStart!=''">
                <![CDATA[ and  recovery_time>=str_to_date(#{fileInfoQuery.recoveryTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="fileInfoQuery.recoveryTimeEnd!= null and fileInfoQuery.recoveryTimeEnd!=''">
                <![CDATA[ and  recovery_time< date_sub(str_to_date(#{fileInfoQuery.recoveryTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="fileInfoQuery.queryExpire!=null and fileInfoQuery.queryExpire">
                <![CDATA[  and recovery_time< date_sub(now(),interval 10 day)]]>
            </if>
        </where>
    </sql>

    <select id="selectUseSpace" resultType="java.lang.Long">
        select IFNULL(sum(file_size), 0)
        from file_info
        where user_id = #{userId}
    </select>

    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM file_info
        <include refid="query_condition"/>
        <if test="userInfoQuery.orderBy!=null">
            order by ${userInfoQuery.orderBy}
        </if>
        <if test="userInfoQuery.simplePage!=null">
            limit #{userInfoQuery.simplePage.start},#{userInfoQuery.simplePage.end}
        </if>
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM file_info
        <include refid="query_condition"/>
    </select>
    
    
    <insert id="insert" parameterType="com.thepan.entity.dao.FileInfo">
        INSERT INTO file_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileInfo.fileId != null">
                file_id,
            </if>
            <if test="fileInfo.userId != null">
                user_id,
            </if>
            <if test="fileInfo.fileMd5 != null">
                file_md5,
            </if>
            <if test="fileInfo.filePid != null">
                file_pid,
            </if>
            <if test="fileInfo.fileSize != null">
                file_size,
            </if>
            <if test="fileInfo.fileName != null">
                file_name,
            </if>
            <if test="fileInfo.fileCover != null">
                file_cover,
            </if>
            <if test="fileInfo.filePath != null">
                file_path,
            </if>
            <if test="fileInfo.createTime != null">
                create_time,
            </if>
            <if test="fileInfo.lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="fileInfo.folderType != null">
                folder_type,
            </if>
            <if test="fileInfo.fileCategory != null">
                file_category,
            </if>
            <if test="fileInfo.fileType != null">
                file_type,
            </if>
            <if test="fileInfo.status != null">
                status,
            </if>
            <if test="fileInfo.recoveryTime != null">
                recovery_time,
            </if>
            <if test="fileInfo.delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileInfo.fileId!=null">
                #{fileInfo.fileId},
            </if>
            <if test="fileInfo.userId!=null">
                #{fileInfo.userId},
            </if>
            <if test="fileInfo.fileMd5!=null">
                #{fileInfo.fileMd5},
            </if>
            <if test="fileInfo.filePid!=null">
                #{fileInfo.filePid},
            </if>
            <if test="fileInfo.fileSize!=null">
                #{fileInfo.fileSize},
            </if>
            <if test="fileInfo.fileName!=null">
                #{fileInfo.fileName},
            </if>
            <if test="fileInfo.fileCover!=null">
                #{fileInfo.fileCover},
            </if>
            <if test="fileInfo.filePath!=null">
                #{fileInfo.filePath},
            </if>
            <if test="fileInfo.createTime!=null">
                #{fileInfo.createTime},
            </if>
            <if test="fileInfo.lastUpdateTime!=null">
                #{fileInfo.lastUpdateTime},
            </if>
            <if test="fileInfo.folderType!=null">
                #{fileInfo.folderType},
            </if>
            <if test="fileInfo.fileCategory!=null">
                #{fileInfo.fileCategory},
            </if>
            <if test="fileInfo.fileType!=null">
                #{fileInfo.fileType},
            </if>
            <if test="fileInfo.status!=null">
                #{fileInfo.status},
            </if>
            <if test="fileInfo.recoveryTime!=null">
                #{fileInfo.recoveryTime},
            </if>
            <if test="fileInfo.delFlag!=null">
                #{fileInfo.delFlag},
            </if>
        </trim>
    </insert>


    <select id="selectByFileIdAndUserId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from file_info where file_id=#{fileId} and user_id=#{userId}
    </select>

    <update id="updateFileStatusWithOldStatus">
        update file_info
        <set>
            <if test="fileInfo.fileMd5 != null">
                file_md5 = #{fileInfo.fileMd5},
            </if>
            <if test="fileInfo.filePid != null">
                file_pid = #{fileInfo.filePid},
            </if>
            <if test="fileInfo.fileSize != null">
                file_size = #{fileInfo.fileSize},
            </if>
            <if test="fileInfo.fileName != null">
                file_name = #{fileInfo.fileName},
            </if>
            <if test="fileInfo.fileCover != null">
                file_cover = #{fileInfo.fileCover},
            </if>
            <if test="fileInfo.filePath != null">
                file_path = #{fileInfo.filePath},
            </if>
            <if test="fileInfo.createTime != null">
                create_time = #{fileInfo.createTime},
            </if>
            <if test="fileInfo.lastUpdateTime != null">
                last_update_time = #{fileInfo.lastUpdateTime},
            </if>
            <if test="fileInfo.folderType != null">
                folder_type = #{fileInfo.folderType},
            </if>
            <if test="fileInfo.fileCategory != null">
                file_category = #{fileInfo.fileCategory},
            </if>
            <if test="fileInfo.fileType != null">
                file_type = #{fileInfo.fileType},
            </if>
            <if test="fileInfo.status != null">
                status = #{fileInfo.status},
            </if>
            <if test="fileInfo.recoveryTime != null">
                recovery_time = #{fileInfo.recoveryTime},
            </if>
            <if test="fileInfo.delFlag != null">
                del_flag = #{fileInfo.delFlag},
            </if>
        </set>
        where file_id = #{fileId}
        and user_id = #{userId}
        and status = #{oldStatus}
    </update>

    <!-- 根据FileIdAndUserId修改-->
    <update id="updateByFileIdAndUserId" parameterType="com.thepan.entity.dao.FileInfo">
        UPDATE file_info
        <set>
            <if test="dbInfo.fileMd5 != null">
                file_md5 = #{dbInfo.fileMd5},
            </if>
            <if test="dbInfo.filePid != null">
                file_pid = #{dbInfo.filePid},
            </if>
            <if test="dbInfo.fileSize != null">
                file_size = #{dbInfo.fileSize},
            </if>
            <if test="dbInfo.fileName != null">
                file_name = #{dbInfo.fileName},
            </if>
            <if test="dbInfo.fileCover != null">
                file_cover = #{dbInfo.fileCover},
            </if>
            <if test="dbInfo.filePath != null">
                file_path = #{dbInfo.filePath},
            </if>
            <if test="dbInfo.createTime != null">
                create_time = #{dbInfo.createTime},
            </if>
            <if test="dbInfo.lastUpdateTime != null">
                last_update_time = #{dbInfo.lastUpdateTime},
            </if>
            <if test="dbInfo.folderType != null">
                folder_type = #{dbInfo.folderType},
            </if>
            <if test="dbInfo.fileCategory != null">
                file_category = #{dbInfo.fileCategory},
            </if>
            <if test="dbInfo.fileType != null">
                file_type = #{dbInfo.fileType},
            </if>
            <if test="dbInfo.status != null">
                status = #{dbInfo.status},
            </if>
            <if test="dbInfo.recoveryTime != null">
                recovery_time = #{dbInfo.recoveryTime},
            </if>
            <if test="dbInfo.delFlag != null">
                del_flag = #{dbInfo.delFlag},
            </if>
        </set>
        where file_id=#{fileId} and user_id=#{userId}
    </update>

    <update id="updateFileDelFlagBatch">
        update file_info
        <set>
            <if test="fileInfo.fileMd5 != null">
                file_md5 = #{fileInfo.fileMd5},
            </if>
            <if test="fileInfo.filePid != null">
                file_pid = #{fileInfo.filePid},
            </if>
            <if test="fileInfo.fileSize != null">
                file_size = #{fileInfo.fileSize},
            </if>
            <if test="fileInfo.fileName != null">
                file_name = #{fileInfo.fileName},
            </if>
            <if test="fileInfo.fileCover != null">
                file_cover = #{fileInfo.fileCover},
            </if>
            <if test="fileInfo.filePath != null">
                file_path = #{fileInfo.filePath},
            </if>
            <if test="fileInfo.createTime != null">
                create_time = #{fileInfo.createTime},
            </if>
            <if test="fileInfo.lastUpdateTime != null">
                last_update_time = #{fileInfo.lastUpdateTime},
            </if>
            <if test="fileInfo.folderType != null">
                folder_type = #{fileInfo.folderType},
            </if>
            <if test="fileInfo.fileCategory != null">
                file_category = #{fileInfo.fileCategory},
            </if>
            <if test="fileInfo.fileType != null">
                file_type = #{fileInfo.fileType},
            </if>
            <if test="fileInfo.status != null">
                status = #{fileInfo.status},
            </if>
            <if test="fileInfo.recoveryTime != null">
                recovery_time = #{fileInfo.recoveryTime},
            </if>
            <if test="fileInfo.delFlag != null">
                del_flag = #{fileInfo.delFlag},
            </if>
        </set>
        where user_id = #{userId}
        <if test="filePidList!=null">
            and file_pid in(<foreach collection="filePidList" separator="," item="item">#{item}</foreach>)
        </if>
        <if test="fileIdList!=null">
            and file_id in(<foreach collection="fileIdList" separator="," item="item">#{item}</foreach>)
        </if>
        <if test="oldDelFlag!=null">
            and del_flag = #{oldDelFlag}
        </if>
    </update>


    <delete id="delFileBatch">
        delete from file_info where user_id = #{userId}
        <if test="filePidList!=null">
            and file_pid in(<foreach collection="filePidList" separator="," item="item">#{item}</foreach>)
        </if>
        <if test="fileIdList!=null">
            and file_id in(<foreach collection="fileIdList" separator="," item="item">#{item}</foreach>)
        </if>
        <if test="oldDelFlag!=null">
            and del_flag = #{oldDelFlag}
        </if>
    </delete>

    <delete id="deleteFileByUserId">
        delete
        from file_info
        where user_id = #{userId}
    </delete>
</mapper>