<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thepan.mappers.UserInfoMapper">

    <select id="selectByEmail" resultType="com.thepan.entity.dao.UserInfo">
        select user_id,
               nick_name,
               email,
               qq_open_id,
               qq_avatar,
               password,
               join_time,
               last_login_time,
               status,
               use_space,
               total_space
        from user_info
        where email =#{email}
    </select>

    <select id="selectByNickname" resultType="com.thepan.entity.dao.UserInfo">
        select user_id,
               nick_name,
               email,
               qq_open_id,
               qq_avatar,
               password,
               join_time,
               last_login_time,
               status,
               use_space,
               total_space
        from user_info
        where nick_name =#{nickName}
    </select>

    <insert id="insert">
        INSERT INTO user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.userId != null">
                user_id,
            </if>
            <if test="bean.nickName != null">
                nick_name,
            </if>
            <if test="bean.email != null">
                email,
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id,
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar,
            </if>
            <if test="bean.password != null">
                password,
            </if>
            <if test="bean.joinTime != null">
                join_time,
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.useSpace != null">
                use_space,
            </if>
            <if test="bean.totalSpace != null">
                total_space,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.userId!=null">
                #{bean.userId},
            </if>
            <if test="bean.nickName!=null">
                #{bean.nickName},
            </if>
            <if test="bean.email!=null">
                #{bean.email},
            </if>
            <if test="bean.qqOpenId!=null">
                #{bean.qqOpenId},
            </if>
            <if test="bean.qqAvatar!=null">
                #{bean.qqAvatar},
            </if>
            <if test="bean.password!=null">
                #{bean.password},
            </if>
            <if test="bean.joinTime!=null">
                #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime!=null">
                #{bean.lastLoginTime},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.useSpace!=null">
                #{bean.useSpace},
            </if>
            <if test="bean.totalSpace!=null">
                #{bean.totalSpace},
            </if>
        </trim>
    </insert>

    <update id="updateByUserId" parameterType="com.thepan.entity.dao.UserInfo">
        UPDATE user_info
        <set>
            <if test="bean.nickName != null">
                nick_name = #{bean.nickName},
            </if>
            <if test="bean.email != null">
                email = #{bean.email},
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id = #{bean.qqOpenId},
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar = #{bean.qqAvatar},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.joinTime != null">
                join_time = #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.useSpace != null">
                use_space = #{bean.useSpace},
            </if>
            <if test="bean.totalSpace != null">
                total_space = #{bean.totalSpace},
            </if>
        </set>
        where user_id=#{userId}
    </update>


    <update id="updateByEmail" parameterType="com.thepan.entity.dao.UserInfo">
        UPDATE user_info
        <set>
            <if test="bean.userId != null">
                user_id = #{bean.userId},
            </if>
            <if test="bean.nickName != null">
                nick_name = #{bean.nickName},
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id = #{bean.qqOpenId},
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar = #{bean.qqAvatar},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.joinTime != null">
                join_time = #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.useSpace != null">
                use_space = #{bean.useSpace},
            </if>
            <if test="bean.totalSpace != null">
                total_space = #{bean.totalSpace},
            </if>
        </set>
        where email=#{email}
    </update>

</mapper>